@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

h1 {
    color: rosybrown;
}

@media (max-width: 30em) {
    body {
        font-size: 80%;
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5em 10em 8em 5em;
    margin: 0 auto;
    background-color: whitesmoke;
}

p {
    padding-bottom: 0.5em;
}

article p:first-child::first-letter {
    font-size: 4em;
    font-family: Norican;
    float: left;
    padding-right: 0.3em;
    border: 0.05em;
    border-style: groove;
    border-spacing: 0.05em;
    background-color: #f5ebdf;
}

li {
    list-style-type: none;
}

ul {
    padding-bottom: 0.5em;
}

ol {
    padding-bottom: 0.5em;
}

li.within {
    color: indianred;
    list-style-type: "⚠️";
}

li em {
    color: darkslateblue;
}

h1+p {
    font-style: italic;
}

a:hover {
    color: navy;
    font-weight: bold;
}

a[href="hummus.html"] {
    color: rosybrown;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50%;
    padding: 1em;
}

/* These apply to the hummus icon at the top of the page */
#icon {
    width: 3em;
    height: 3em;
    transition: transform 3s linear;
}

#icon:hover {
    transform: rotate(2turn);
}

#garlic {
    width: 10em;
    height: 10em;
}

#montferrat {
    width: 19em;
    height: 15em;
}

figure {
    margin: 0 auto;
    text-align: center;
}

figcaption {
    font-size: x-small;
}

ol li:nth-child(odd) {
    color: coral;
}