/* Custom properties start here */

:root {
    /* Colours for text */
    --nav-text-colour: rgb(93, 95, 121);
    --white-text-colour: rgb(255, 255, 255);

    --normal-text-colour: rgb(0, 0, 0);
    --gray-background-colour: rgb(227, 228, 230);

    /* Contrast colours */
    --contrast-colour-1: rgb(245, 157, 35);
    --contrast-colour-2: rgb(240, 93, 80);

    /* Link colours */
    /* Header link colours */
    --header-nav-link-colour: rgb(93, 95, 121);
    --header-nav-link-hover-colour: rgb(245, 157, 35);
    /* Main link colours */
    --main-link-colour: rgb(245, 157, 35);
    --main-link-hover-colour: rgb(93, 95, 121);
    /* Footer link colours */
    --footer-nav-link-colour: rgb(255, 255, 255);
    --footer-nav-link-hover-colour: rgb(245, 157, 35);
    /* Section-specific colours */
    --index-referentes-section-link-colour: rgb(93, 95, 121);
    --index-referentes-section-link-hover-colour: rgb(245, 157, 35);
    --referentes-menu-link-colour: rgb(245, 157, 35);
    --referentes-menu-link-hover-colour: rgb(93, 95, 121);

    /* Buttons */
    --button-bg-colour: rgb(240, 93, 80);
    --button-text-colour: rgb(255, 255, 255);
}

/* Custom properties end here */
/*
/*
/*
/*
/* Media queries start here */

@media only screen and (min-width: 320px) {

    /* Global */

    header,
    main {
        width: 95%;
    }

    header {
        display: grid;
        text-align: center;
    }

    header nav {
        margin-top: 1em;
    }

    footer {
        padding: 1em 5% 1em 5%;
    }

    /* Footer-specific */
    footer div.policy_nav ul {
        flex-direction: column;
        gap: 0;
    }


    /* index.html-specific */

    main div.constellation {
        width: 100%;
    }

    main div.main_description {
        width: 100%;
    }

    main div.woman {
        width: 100%;
    }

    main div.woman>* {
        text-align: center;
    }
}

@media only screen and (min-width: 641px) {

    /* Global */

    header,
    main {
        width: 75%
    }

    header {
        display: grid;
        text-align: center;
    }

    header nav {
        margin-top: 1em;
    }

    footer {
        padding: 1em 22% 1em 22%;
    }

    /* Footer-specific */
    footer div.policy_nav ul {
        flex-direction: row;
        gap: 1em;
    }

    /* index.html-specific */

    main div.constellation {
        width: 80%;
        height: auto;
    }

    main div.constellation {
        width: 100%;
    }

    main div.main_description {
        width: 100%;
    }

    main div.woman {
        width: 45%;
    }

    main div.woman>* {
        text-align: left;
    }
}

@media only screen and (min-width: 961px) {

    /* Global */

    header,
    main {
        width: 65%
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header ul {
        display: flex;
        padding-top: 2.6em;
    }

    header nav {
        margin-top: 0;
    }

    footer {
        padding: 1em 30% 1em 30%;
    }

    /* Footer-specific */
    footer div.policy_nav ul {
        flex-direction: row;
        gap: 1em;
    }


    /* index.html-specific */

    main div.constellation {
        width: 30%;
    }

    main div.main_description {
        width: 70%;
    }

    main div.woman {
        width: 23%;
    }

    main div.woman>* {
        text-align: left;
    }
}

/* Media queries end here */
/*
/*
/*
/*
/* Global rules start here */

header,
main,
footer {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
}

div.container {
    width: 6em;
}

div.container img {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    line-height: 1.4em;
}

body a {
    text-decoration: none;
}

/* Global rules end here */
/*
/*
/*
/*
/* Global header rules start here */

header {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 1em;
}

header ul li {
    list-style-type: none;
    padding: 0 1em;
    white-space: nowrap;
}

header ul {
    padding-left: 0;
    margin: 0;
}

header div.logo_and_subtext {
    display: flex;
    justify-content: center;
}

header div.logo_and_subtext div:last-child {
    display: flex;
    white-space: nowrap;
    align-self: flex-end;
}

header div.container+div {
    padding-left: 0.2em;
}

header nav a {
    color: var(--header-nav-link-colour);
    text-decoration: none;
}

header nav a:hover {
    color: var(--header-nav-link-hover-colour);
}


header nav a:visited {
    color: none;
}

/* Global header rules end here */
/* Global main rules start here */

/* Global main rules end here */
/* Global footer rules start here */

footer {
    max-width: 100%;
    background-color: black;
    margin: 0;
    margin-top: 3em;
    color: var(--white-text-colour);
    text-align: center;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding: 0;
}

footer div.container {
    margin: 0 auto;
}

footer li.siempre {
    font-size: 1.15em;
    padding: 1, 75em 0;
    white-space: nowrap;
}

footer li input {
    background-color: unset;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: solid 1px darkgrey;
    padding: 1em;
    color: var(--white-text-colour);
    text-align: center;
    font-size: 1.1em;
    max-width: 100%;
}

footer li input::placeholder {
    color: var(--white-text-colour);
    text-align: center;
    margin: 4em;
}

footer li input:focus {
    outline: none !important;
    border: 1px solid var(--contrast-colour-1);
    box-shadow: 0 0 10px var(--white-text-colour)
}

footer form li {
    padding: 0.5em 0;
}

footer button {
    border: 0;
    padding: 0.6em 0.75em;
    font-size: 1rem;
    color: var(--button-text-colour);
    background-color: var(--button-bg-colour);
    box-sizing: border-box;
}

footer div.policy_nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

footer div.policy_nav ul li {
    white-space: nowrap;
}

footer div.other_info {
    font-size: 0.75em;
}


footer div.other_info li {
    padding: 0.25em 0;
}

/* Global footer rules end here */
/*
/*
/*
/*
/* index.html specific rules start here */

main section.intro {
    display: flex;
    flex-wrap: wrap;
    margin: 3em auto;
}

main div.constellation {
    background-color: var(--contrast-colour-2);
    padding: 1.75em 0;
}

main div.constellation img {
    display: flex;
    margin: 0 auto;
    background-color: var(--contrast-colour-2);
    max-width: 100%;
    max-height: 100%;
}

main div.main_description {
    background-color: var(--contrast-colour-1);
    display: grid;
    align-content: center;
}

main div.main_description>* {
    margin: auto;
}

main div.main_description h1 {
    padding: 0.75em;
    text-align: center;
}

main div.main_description p {
    padding: 0 1em 1em 1em;
    text-align: left;
}

h1.main_title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0;
}

h1.main_title+div {
    font-size: 0.75em;
    text-align: center;
    padding-bottom: 1em;
}

h1.main-title+div a {
    color: var(--main-link-colour)
}

main section.women {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

main div.woman:first-child {
    margin-left: 0;
}

main div.woman:last-child {
    margin-right: 0;
}

main div.woman figure {
    width: 100%;
    height: auto;
    margin: 0;
}

main div.woman figure img {
    width: 100%;
    height: auto;
}

main div.woman div.field {
    font-size: 0.75em;
    color: var(--index-referentes-section-link-colour)
}

main div.woman_name {
    font-weight: bold;
}

main section.women a {
    color: var(--index-referentes-section-link-colour)
}

/* index.html specific rules end here */
/* iniciativas.html specific rules start here */

/* iniciativas.html specific rules end here */
/* referentes.html specific rules start here */

/* referentes.html specific rules end here */
/* 11-de-febrero.html specific rules start here */

/* 11-de-febrero.html specific rules end here */